# ignore all unincluded projects
**/project/*

# include the example project
!project/example/

# include project utilities
!project/create-new-project.bat
!project/ignored-files.txt

# ignore all visual studio files
*.obj
*.suo
*.sdf
*.tlog
*.opendb
*.pdb
*.idb
*.db
*.ipch
**/Debug/
.vs/
*.xcodeproj/
**/Documentation/
