# ignore all unincluded projects
**/project/*

# include the example project
!project/example/

# include project utilities
!project/create-new-project.bat
!project/rename-project.bat
!project/ignored-files.txt

# tool specific
## font_converter
!tools/font_converter/*.exe
tools/font_converter/*.ttf
tools/font_converter/*.tga
tools/font_converter/*.png

# re-include globally ignored files
!*.lib

# ignore all visual studio files
*.obj
*.suo
*.sdf
*.tlog
*.opendb
*.pdb
*.idb
*.db
*.ipch
**/Debug/
.vs/
*.xcodeproj/
**/Documentation/
